In [363]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [364]:
data=pd.read_csv("Churn_Modelling.csv")
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [365]:
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [366]:
data.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [367]:
data.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [368]:
##Preprocess the data
###Drop first 3 columns
data.drop(columns=['RowNumber','CustomerId','Surname'],axis=1,inplace=True)

In [369]:
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [370]:
data.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [371]:
data.dtypes

CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [372]:
data.tail()

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[5 rows x 11 columns]

In [373]:
data.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [374]:
onehot_encoder_geo=OneHotEncoder()

In [375]:
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<10000x3 sparse matrix of type '<class 'numpy.float64'>'
	with 10000 stored elements in Compressed Sparse Row format>

In [376]:
data.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [377]:
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [378]:
## first apply ohe to the column and save in geo_encoder now to make it into dataframe first we need to give 2 arguments the geo_encoder, and the columns of geography
geo_encoder_df=pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [379]:
#combine ohe columns to our data
geo_encoder_df = geo_encoder_df.reset_index(drop=True)
data = data.reset_index(drop=True)
data = pd.concat([data.drop(['Geography'], axis=1), geo_encoder_df], axis=1)

In [380]:
data.isnull().sum()

CreditScore          0
Gender               0
Age                  0
Tenure               0
Balance              0
NumOfProducts        0
HasCrCard            0
IsActiveMember       0
EstimatedSalary      0
Exited               0
Geography_France     0
Geography_Germany    0
Geography_Spain      0
dtype: int64

In [381]:
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [382]:
data.tail()

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[5 rows x 13 columns]

In [383]:
data.isnull().sum()

CreditScore          0
Gender               0
Age                  0
Tenure               0
Balance              0
NumOfProducts        0
HasCrCard            0
IsActiveMember       0
EstimatedSalary      0
Exited               0
Geography_France     0
Geography_Germany    0
Geography_Spain      0
dtype: int64

In [384]:
data.dtypes

CreditScore            int64
Gender                 int32
Age                    int64
Tenure                 int64
Balance              float64
NumOfProducts          int64
HasCrCard              int64
IsActiveMember         int64
EstimatedSalary      float64
Exited                 int64
Geography_France     float64
Geography_Germany    float64
Geography_Spain      float64
dtype: object

In [385]:
##save the pickle files and scaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [389]:
##divide the data into dependent and independent 
data.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited',
       'Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype='object')

In [390]:
X = data.drop('Exited',axis=1)
y=data['Exited']

In [391]:
#Split into train and test
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=32)

In [392]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [393]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

ANN Implementation

In [394]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [395]:
##Build our model
#Give the input_shape to only first HD layer as it knows it will be connected as we used sequential
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), #HD1 - 64 is the size of the hidden layer, input_shape is the input of the HD1 from the X_train
    Dense(32,activation='relu'), #HD2
    Dense(1,activation='sigmoid') ##Output layer
])

c:\Users\kollu\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [396]:
model.summary()

Model: "sequential_6"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_18 (Dense)                │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_19 (Dense)                │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_20 (Dense)                │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [397]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)# this is one of the optimizer which we need to initialize to fix the learning rate and use in optimization
loss=tensorflow.keras.losses.BinaryCrossentropy()

In [398]:
##Compile the model 
model.compile(optimizer="adam",loss="binary_crossentropy",metrics=['accuracy'])

In [399]:
## Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="logs/fit" + datetime.datetime.now().strftime("%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [400]:
##set up early stopping
early_atopping_callback=EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [401]:
##Train the model 
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_atopping_callback]
)

Epoch 1/100

c:\Users\kollu\anaconda3\Lib\site-packages\tensorflow\python\data\ops\structured_function.py:258: UserWarning: Even though the `tf.config.experimental_run_functions_eagerly` option is set, this option does not apply to tf.data functions. To force eager execution of tf.data functions, please use `tf.data.experimental.enable_debug_mode()`.
  warnings.warn(

219/219 ━━━━━━━━━━━━━━━━━━━━ 14s 62ms/step - accuracy: 0.7949 - loss: 0.4901 - val_accuracy: 0.8190 - val_loss: 0.4086
Epoch 2/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 30s 137ms/step - accuracy: 0.8335 - loss: 0.3949 - val_accuracy: 0.8393 - val_loss: 0.3733
Epoch 3/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 35s 158ms/step - accuracy: 0.8656 - loss: 0.3504 - val_accuracy: 0.8487 - val_loss: 0.3553
Epoch 4/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 12s 55ms/step - accuracy: 0.8496 - loss: 0.3591 - val_accuracy: 0.8507 - val_loss: 0.3510
Epoch 5/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 13s 61ms/step - accuracy: 0.8596 - loss: 0.3402 - val_accuracy: 0.8493 - val_loss: 0.3468
Epoch 6/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 11s 48ms/step - accuracy: 0.8569 - loss: 0.3410 - val_accuracy: 0.8570 - val_loss: 0.3458
Epoch 7/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 11s 49ms/step - accuracy: 0.8678 - loss: 0.3291 - val_accuracy: 0.8533 - val_loss: 0.3467
Epoch 8/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 10s 48ms/step - accuracy: 0.8696 - loss: 0.3236 - val_accuracy: 0.8567 - val_loss: 0.3440
Epoch 9/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 11s 51ms/step - accuracy: 0.8690 - loss: 0.3214 - val_accuracy: 0.8550 - val_loss: 0.3453
Epoch 10/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 11s 48ms/step - accuracy: 0.8725 - loss: 0.3183 - val_accuracy: 0.8530 - val_loss: 0.3437
Epoch 11/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 11s 51ms/step - accuracy: 0.8659 - loss: 0.3294 - val_accuracy: 0.8533 - val_loss: 0.3442
Epoch 12/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 10s 45ms/step - accuracy: 0.8737 - loss: 0.3174 - val_accuracy: 0.8533 - val_loss: 0.3442
Epoch 13/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 10s 46ms/step - accuracy: 0.8675 - loss: 0.3134 - val_accuracy: 0.8583 - val_loss: 0.3434
Epoch 14/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 10s 46ms/step - accuracy: 0.8708 - loss: 0.3215 - val_accuracy: 0.8573 - val_loss: 0.3423
Epoch 15/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 10s 47ms/step - accuracy: 0.8599 - loss: 0.3264 - val_accuracy: 0.8563 - val_loss: 0.3448
Epoch 16/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 10s 46ms/step - accuracy: 0.8730 - loss: 0.3092 - val_accuracy: 0.8587 - val_loss: 0.3429
Epoch 17/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 10s 45ms/step - accuracy: 0.8643 - loss: 0.3210 - val_accuracy: 0.8557 - val_loss: 0.3432
Epoch 18/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 10s 46ms/step - accuracy: 0.8785 - loss: 0.3008 - val_accuracy: 0.8560 - val_loss: 0.3430
Epoch 19/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 10s 46ms/step - accuracy: 0.8738 - loss: 0.3119 - val_accuracy: 0.8513 - val_loss: 0.3512

In [403]:
model.save('my_model.keras')

In [404]:
#LOad tensor board extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [405]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 8344), started 12:50:55 ago. (Use '!kill 8344' to kill it.)

In [406]:
##Load the pickle file
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [408]:
##Load the trained model, scalar pickle, onehot
model=load_model('my_model.keras')

#Load encoder and scaler
with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)

with open('onehot_encoder_geo.pkl','rb') as file:
    onehot_encoder_geo=pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

In [409]:
#example input data
input_data = {
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
}

In [410]:
geo_encoded=onehot_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Users\kollu\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [411]:
input_df=pd.DataFrame([input_data])
input_df

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [413]:
##Encode categorical variables
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])
input_df

ValueError: y contains previously unseen labels: 1

In [414]:
##Concatination of ohe data to input_df
input_df=pd.concat([input_df.drop("Geography",axis=1),geo_encoded_df],axis=1)

In [415]:
input_df

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [416]:
##scaling the input_data
input_scaled=scaler.transform(input_df)
input_scaled

array([[-0.52399073,  0.91081669,  0.09980901, -0.69054954, -0.26490813,
         0.80042431,  0.64287237,  0.97405085, -0.86829382,  1.0100505 ,
        -0.57954971, -0.58284897]])

In [417]:
prediction=model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 55ms/step

c:\Users\kollu\anaconda3\Lib\site-packages\tensorflow\python\data\ops\structured_function.py:258: UserWarning: Even though the `tf.config.experimental_run_functions_eagerly` option is set, this option does not apply to tf.data functions. To force eager execution of tf.data functions, please use `tf.data.experimental.enable_debug_mode()`.
  warnings.warn(

array([[0.0292541]], dtype=float32)

In [418]:
prediction_proba = prediction[0][0]
prediction_proba

0.029254097

In [419]:
if prediction_proba > 0.5:
    print("The customer is likely to churn")
else:
    print("the customer is not likely to churn")

the customer is not likely to churn